body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background-color: #36393E;
    min-width:600px;
    min-height:600px;
  }
  html {
    background-color:  #36393E;
  }
  
  #logo {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }